COMPOSE_PROJECT_NAME=
DB_HOST=localhost
DB_PORT=27017
DB_DATABASE=tc_online
DB_USERNAME=tc_online_user
DB_PASSWORD=v6sdhjxTRtUFCSYz
NODE_ENV=development
ROW_LIMIT=20
TAG=master
IMG=
JWT_SECRET=hjpi2465mJpibprY
JWT_SECRET_REFRESH=d486c2McJF0K9Xub
ACCESS_TOKEN_EXPIRE=3600
REFRESH_TOKEN_EXPIRE=1y
REDIS_HOST=localhost

